{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% endblock %}

{% block title %}Info{% endblock %}

{% block content %}
<div class="text-center mt-4 mb-4">
    <img src="{{ url_for('static', filename='images/muce-banner.gif') }}">
    <p style="font-size:12px;">Modern Unsolicited Commercial Email</p>
</div>

<fieldset class="mb-3 p-3 border border-secondary">
    <legend><span class="badge badge-dark">Info Spam Dashboard</span></legend>
    <legend class="h6"><strong>Title:</strong> {{ spam.title }}</legend>
    <canvas id="dashChart" height="50"></canvas>

    <script>
        var ctx = document.getElementById('dashChart').getContext('2d');
        var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Success', 'Failed', 'Captured'],
        datasets: [{
            label: '# Total',
            data: [{{ spam.success }}, {{ spam.fail }}, {{ spam.captured|count }}],
            backgroundColor: [
                'rgb(73, 191, 158)',
                'rgb(166, 3, 3)',
                'rgb(1, 11, 64)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 0
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    </script>
</fieldset>

<fieldset class="mb-3 p-3 border border-secondary">
    <legend><span class="badge badge-dark">Setup</span></legend>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="templatepath" class="input-group-text">Template</label>
        </div>
        <input class="form-control" type="text" value="{{ spam.template }}" disabled>
    </div>

    <label>Emails</label>
    <div class="input-group mb-3">
        <textarea class="form-control" rows="3" disabled>
            {% for email in spam.emails %}{{ email.email }}
            {% endfor %}
        </textarea>
    </div>
</fieldset>

<fieldset class="mb-3 p-3 border border-secondary">
    <legend><span class="badge badge-dark">Captured</span></legend>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">IP</th>
            <th scope="col">U-Agent</th>
            <th scope="col">OS</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
            {% for capture in spam.captures %}
            <tr>
                <th class="row">{{ capture.ip }}</th>
                <th>{{ capture.user_agent }}</th>
                <th>{{ capture.os }}</th>
                <th>{{ capture.more_info }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>
{% endblock %}